
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(36,32,32);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.navBar {
  color: rgb(234, 244, 235);
  background-color: rgb(100,223,121); 
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0px 25px 0px 25px;
  align-items: center;
}

.navBar a{
  color: black;  
}

.navBar ul{
  padding: 0;
  margin-right: 10px;
  list-style: none;
  display: flex;
  gap: 20px; 
} 

.logo {   
  height: 50px;    
  margin: 10px; 
}



.followBox {
  background-color: white;
  color: #64DF79;

  border-radius: 10px;
  width: 280px;
  height: 545px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.followSoc {
  background-color: #E0E0E0;
  transition: background-color 400ms linear;
  color: #988C8C;

  height: 35px;
  width: 80%;
  margin-top: 5px;
  border-radius: 10px;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.followSoc p {
  margin: 0;
}

.followSoc:hover {
  background-color: #B9EEFF;
  transition: background-color 400ms linear;
}

.followSoc-active {
  background-color: #B9EEFF;
}