.navBar {
    color: rgb(255, 255, 255);
    background-color: rgb(100,223,121); 
    display: flex;
    justify-content: space-between; 
    padding: 0px 25px 0px 25px;
    align-items: center;
    font-size: 21px;
}
  
.navBar ul{
    padding: 0;
    margin-right: 10px;
    list-style: none;
    display: flex;
    gap: 27px; 
    cursor: pointer;
} 

.navBar li:hover{
    color: rgb(161, 245, 183);
}

.logo {   
    height: 50px;    
    margin: 10px; 
}



.close-btn:hover{
    color: rgb(100,223,121);
}


.change-log-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.change-log-button-inner {
    position: relative; 
    width: 100%;
    max-width: 640px;
    background-color: rgb(59, 56, 56);
    border-radius: 10px; 
}

.change-log-button-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 10px;
    cursor: pointer;
}
 



::-webkit-scrollbar{
    width: 0.7em; 
  }
  
::-webkit-scrollbar-track{
    background-color: rgb(48, 134, 45);
    border-radius: 100vw;  
}

::-webkit-scrollbar-thumb{
    background-color: rgb(115, 221, 113);
    border-radius: 100vw; 
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(166, 245, 166);
    border-radius: 100vw;
} 


.info-block { 
    background-color: rgb(34, 33, 33);
    color: white;
}
 
.info-block p {
    text-align: left
}

.creators {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.creators li {
    display: inline-block;
    min-width: 5em;
    margin: 0 0.5em;
}

.info-info {
    text-align: center; 
}

.info-info h1, h3{
    color: rgb(116, 255, 116); 
}

.info-info h4 {
    font-weight: 10;
}
 

